<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content padding>
  <!-- <ion-button expand="block" routerLink="/dashboard" routerDirection="root"> -->
  <!-- <ion-button expand="block" routerLink="/dashboard">   -->
  <ion-button expand="block" (click)="gotoDashboard()">

    Login
  </ion-button>
 </ion-content>