<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content padding>
  <!-- <ion-button expand="block" routerLink="/details/42" routerDirection="forward"> -->
  <ion-button expand="block" routerLink="/details/42">
    Details
  </ion-button>
 
  <!-- <ion-button expand="block" routerLink="/" routerDirection="root"> -->
  <ion-button expand="block" routerLink="/">
    Logout
  </ion-button>



  <!-- <ion-button expand="block" [routerLink]="['/details/', foo]" routerDirection="forward"></ion-button> -->
  <ion-button expand="block" [routerLink]="['/details/', foo]"></ion-button>


 </ion-content>